.linkButton {
  min-width: 6rem;
  height: 2rem;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid #495057;
  background: #648887;
}
.linkButton:hover {
  background: #fff;
  color: #648887;
}

.send-button, 
.button-preview button, 
.booking-button button {
  min-width: 6rem;
  height: 2.5rem;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #3c7c7e;
}

.button-preview button,
.booking-button button {
  margin-top: 3rem;
}

.button-preview a {
  color: #fff;
  min-width: 130px;
  height: 40px;
}

.booking-button :hover,
.send-button:hover,
.button-preview button:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}

.booking-button button:hover:after,
.send-button:hover:after,
.button-preview button:hover:after {
  opacity: 1;
  right: 10px;
}

.booking-button button:after,
.send-button:after,
.button-preview button:after {
  content: "\00BB";
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}
