
.container{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.form{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fee9bb;
    padding: 3rem;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-header {
    width: auto;
    margin-bottom: 3vh;
    display: flex;
    justify-content: space-between;
}

.form-header h1 {
    font-size: 5vh;
    color:#3c7c7e;
}

.button-box{
    display: flex;
    align-items: center;   
}

.form-header h1::after {
    content: "";
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #3c7c7e;
    margin: 0 auto;
    position: absolute;
    border-radius: 0.5rem;
}

.input-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.input-box, .select-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input, .select-box select{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 1px #0000001c;
}

.input-box input:hover, .select-box select:hover{
    background-color:#eeeeee75 ;
}

.input-box input:focus-visible, .select-box select:focus-visible{
    outline: 2px solid #3c7c7e;
}

.input-box label, .accomodation-title h4, .select-box label{
    font-size: 1rem;
    color: #283b39;
    font-family: "Lato";
}

.input-box input::placeholder{
    color: gray;
}

.accomodation-group{
    display: flex;
    justify-content: space-between;
    margin-top: 0.7rem;
}

.duvidas p{
    color:#3c7c7e;
    text-align: center;
    font-size: 1em;
}

@media screen and (min-width: 1472px){
 .input-group{
    margin-right: 7rem;
 }
}

@media screen and (max-width: 400px){
    .form{
        width: 90vw;
    }

    .input-box input, .select-box select {
        width: 75vw;
    }

    .form-header h1 {
        width: 6vw;
    }
}
    


