.exp-Box{
    background-color: #282828;
    border-radius: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.textBox{
    display: flex;
    flex-direction: column;
    padding:4vh;
    }

    .textBox p{
        text-align: justify;
        text-justify: inter-word;
        text-indent: 4vh;
    }

    .textBox h1{
        text-align: justify;
        padding-bottom: 4vh;
    }

    .textBox h1::after{
        content: "";
        display: block;
        width: 3rem;
        height: 0.2rem;
        background-color: #FEE9BB;
        margin: 0 auto;
        position: absolute;
        border-radius: 10px;
    }

.imgBox{
    padding:2rem;
}

.expLinkButton{
    display:flex;
    padding: 2rem;
    justify-content: center;
}

@media (min-width: 1000px) {
    .exp-Box{
        display: flex;
    }
  }