footer{
  background-color: #648887;
  margin:0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.footer-left{  
  display: flex;
  width:40em;
  flex-direction: column;
  align-items: center;
  align-content: stretch;
  text-align: center;
  padding-top: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
}

.footer-right{
  display: flex;
  width: 40em;
  flex-direction: column;
  align-content: center;
  text-align: center;
  align-content: stretch;
  padding-top: 1vh;
  padding-left: 2vh;
  padding-right: 2vh;
}

.pfooter{
  font-size: 0.9rem;    
  font-family: 'Lato', sans-serif;
  color: #FEE9BB;
  text-align: center;
}

.afooter{
  text-decoration: none;
  color: #FEE9BB;
}

.logofooter{
  font-size: clamp(1.0rem, 0.5rem + 16vw, 1.6rem);
  font-weight: bold;
}

.ulfooter{
  display: flex;
  list-style: none;
  margin: 1em;
  align-items: center;
  justify-content: space-around;
  color: #FEE9BB; 
}

.imgfooter{
  width: 2em; 
  vertical-align:middle;
}

@media screen and (max-width: 640px) {
  
  footer{
    flex-direction: column;   
  }
  .footer-left {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .ulfooter{
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;   
  }

  .footer-right {
    width: 60%;
    margin-left: auto;
    margin-right: auto;   
  }
}
