@import url('https://fonts.googleapis.com/css?family=Limelight');

*{
    margin:0%;
    background-color: #283B39;
}

h1{
    font-family: 'Limelight', cursive;
    color: #FEE9BB;
}

h2{
    font-family: 'Limelight', cursive;
    color: #FEE9BB;
}

p{
    font-family: Verdana;
    color: #648887;
}

footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
}

.footerIframe{
    background-color: #648887;
    border: none;
    width: 100%;
    height: 20vh;
}

main{
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.header {
    overflow: hidden;
    background-color: #FEE9BB;
    border: none;
    width: 100%;
  }
  
  /* Style the header links */
  .header a {
    float: left;
    font-family: 'Limelight', cursive;
    background-color: #FEE9BB;
    color: #283B39;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: clamp(0.75rem, 0.5rem + 8vw, 1.25rem);
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: clamp(1.5rem, 1rem + 16vw, 2.5rem);
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header-right a:hover {
    background-color: #FEE9BB;
    color: #283B39;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: #283B39;
    color: #FEE9BB;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
