@import url('https://fonts.googleapis.com/css?family=Limelight');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

*{
  margin:0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  background-color:#283B39 ;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

h1{
    font-family: 'Noto Serif', serif;
    color: #FEE9BB;
}

h2{
    font-family: 'Noto Serif', serif;
    color: #FEE9BB;
}

p{
    font-family: 'Lato', sans-serif;
    color: #648887;
    font-size: 1.2rem;
}


.main{

    flex: 1;
}

.content{
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 10vh;
    margin-right: 10vh;
    flex: 1;
}

a{
    text-decoration: none;
}



