@import url('https://fonts.googleapis.com/css?family=Limelight');

*{
    margin:0%;
    background-color: #283B39;
}

h1{
    font-family: 'Limelight', cursive;
    color: #FEE9BB;
}

h2{
    font-family: 'Limelight', cursive;
    color: #FEE9BB;
}

p{
    font-family: Verdana;
    color: #648887;
}


main{
    margin-top: 2vh;
    margin-bottom: 2vh;
    background-color: #283B39;
}

p{
    font-family: Verdana;
    color: #FEE9BB;
    font-size: 12px;
    
}

a{
    text-decoration: none;
}
